.MathTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    .mathInput {
        &.empty:not(:focus-within) * {
            opacity: 0;
        }
    }
}

.MathTable td {
    border: 1px solid #ddd;
}

.MathTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.MathTable tr textarea:hover {
    background-color: #ddd;
}

.MathTable th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}