.text-primary {
  font-size: large;
}

li {
  margin: 10px 0;
}

#math_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#math_table td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#math_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#math_table tr:hover {
  background-color: #ddd;
}

#math_table th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.complex.btn-primary,
.complex.btn-primary:not(.active) {
  background-color: #28a745;
}

#domain-toggle.selected-complex,
.complex.btn-primary:not(.disabled):not(:disabled):hover,
.complex.btn-primary:not(.disabled):not(:disabled):active,
.complex.btn-primary:not(.disabled):not(:disabled):focus,
.complex.btn-primary:not(.disabled):not(:disabled).active {
  background-color: #218838;
}

#domain-toggle.selected-reals {
  background-color: #0062cc;
}

#domain-toggle {
  grid-auto-flow: column;
  display: grid;
  width: max-content;
  border-radius: 6px;
  padding: 1px;
}

#domain-toggle.btn-group.btn-group-toggle>.btn-primary {
  width: 7em;
  transition: width 0.25s linear;
  /* transition: padding-left 0.5s linear;
  transition: padding-right 0.5s linear; */
  min-width: 0;
  overflow: hidden;
  padding: 0.3em 0;
  border: none;
}

#domain-toggle.btn-group.btn-group-toggle>.btn-primary:not(.active) {
  width: 0;
  /* padding-left: 0;
  padding-right: 0; */
}

.btn.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  width: 0.5em;
  border-width: 1px;
  border-color: black;
  background-color: #fff;
  border-radius: 5px !important;
}