<!DOCTYPE html>
<html lang="en">
<head>
    <title>Automated Dimensional Analysis</title>
    <meta name="description" content="An automated online dimensional analysis tool. Plug in your variable names and dimensions, and get a
dimensionless combination or your desired dimension.">
    <meta name="google-site-verification" content="1gFvXxXV2zBOZbDroc71gDxg3oD1lmnj-eOWbC-2JBw"/>
    <meta name="keywords" content="Dimensional Analysis, Physics, Automation, Online, Pendulum">
    <meta name="author" content="Shiri Avni">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="../static/sticky-footer.css" rel="stylesheet">

    <style>
    li{
      margin: 10px 0;
    }
    </style>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Your Personal Proof Assistant<sup><i class="text-primary" style="font-size:large"><b> made with <a
                href="https://simpy.readthedocs.io/en/latest/" target="_blank">Simpy</a></b></i></sup></h1>
        <blockquote>
            If IDEs can help coders with their coding errors, why isn't there a handy program to help mathematicians
            with
            their calculations?<br/>
            <cite>- A forelorn mathematician</cite>
        </blockquote>

        <br/>
        <br/>
        <h5>Input examples, press "enter" for each row simiplification: </h5>
        <h6>
        <ol>
          <li>x^2 - 4 <br/>(x+2)(x-2)</li>
          <li>x^2+3x+2=12<br/> (x+1)(x+2)=12</li>
          <li>x*y+z-12=2z<br/>x*y-12=z</li>
        </ol>
        </h6>
    </div>
</div>

<div class="container text-center">
    <h5>Enter your input, simplifying line by line:</h5>
    <div class="row">
        <!--4*x^2-4=0 &#13;&#10; 2*x^2-2=0 &#13;&#10; x=1-->
        <div class="col col-md-1 offset-md-1 text-right">
            <br/>
            <p id="check_1"></p>
        </div>
        <div class="col col-md-8">
        <textarea style="height:100%; min-width: 100%" id="math-text" rows="20">4*x^2-4 &#13;&#10;x^2-1</textarea>
        </div>
    </div>
</div>

<br/>
<br/>

<!--https://stackoverflow.com/questions/6524288/jquery-event-for-user-pressing-enter-in-a-textbox-->
<!-- only send last two rows each time -->
<script>
    $(document).ready(function () {
        $('textarea').bind("enterKey", function (e) {
            const lines = $('#math-text').val().split("\n");
            const lines2 = lines.filter(function(entry) { return entry.trim() != ''; });
            console.log(lines2);
            const desired_lines = lines2.slice(-2);
            const txt = desired_lines.join('\n');
            console.log(txt);
            $.ajax({
                url: '/validate',
                type: 'post', //the method to use. GET or POST
                dataType: 'json',
                data: {txt: txt}, //your data: {key1:value1, key2:value2}
                success: function (data) { //handle a successfull response (200 OK)
                    console.log(data.result);
                    if (data.result == "A-OK") {
                        $('#check_1').text('OK!');
                        console.log();
                    } else {
                        $('#check_1').text('Mistake!');
                    }
                    const val = $('#check_1').val();
                    console.log(val);
                    console.log("hey")

                    //here you can do with your data whatever you want
                },
                error: function (jqXHR, textStauts, errorThrown) { //handle every error. e.g. 500
                    console.log(textStatus + ': ' + errorThrown);
                }
            }
        );
    });

    $('textarea').keyup(function (e) {
        if (e.keyCode == 13) {
            $(this).trigger("enterKey");
        }
    });
    })
    ;
</script>


<footer class="footer">
    <div class="container">
        <p class="text-muted text-center" style="font-size: 14px">For questions or comments, please email
            avni.shiri@gmail.com.</p>
    </div>
</footer>

</body>
</html>